@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:wght@400;500&display=swap");

:root {
  --mobile: 375px;

  --soft-blue: hsl(231, 69%, 63%);
  --soft-red: hsl(0, 94%, 66%);

  --outline-primary: 2px solid var(--soft-blue);
  --outline-danger: 2px solid var(--soft-red);
  --outline-grey: 2px solid var(--grey);
  --outline: 2px solid var(--grey-blue);
  --outline-white: 2px solid var(--white);

  --grey-blue: hsl(229, 8%, 60%);
  --grey: hsl(229, 8%, 95%);
  --grey-shadow: hsl(229, 8%, 90%);
  --grey-card-shadow: hsla(229, 8%, 90%, 0.67);
  --dark-blue: hsl(229, 31%, 21%);
  --black: black;
  --white: white;

  --outline-secondary: 2px solid var(--grey-blue);
  --outline-blue: 2px solid var(--dark-blue);

  --blur-background: hsla(231, 82%, 20%, 0.692);

  --shadow: 0px 3px 2px 2px var(--grey-shadow);
  --card-shadow: 0px 3px 2px 4px var(--grey-card-shadow);

  --size: 18px;
  --weight-normal: 500;
  --weight-light: 400;
  --family: "Rubik", sans-serif;
  --radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family);
}

#header {
  width: 100%;
  height: 100vh;
}

.navigation {
  width: 100%;
  padding: 3rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: none;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.navigation-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  opacity: 0.7;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.nav-item a:hover {
  color: var(--soft-red);
}

.nav-button {
  background-color: var(--soft-red);
  font-size: 1rem;
  width: 120px;
  height: 45px;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.nav-button:hover {
  background-color: white;
  border: 2px solid var(--soft-red);
}

.nav-button:hover a {
  color: var(--soft-red);
}

.nav-button a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: var(--weight-normal);
}

.menu {
  display: none;
}

#header-content {
  display: flex;
  width: 100%;
  padding: 3rem 8rem;
  position: relative;
  gap: 8rem;
}

#header-content::after {
  content: "";
  position: absolute;
  width: 580px;
  height: 400px;
  right: 0;
  bottom: 0;
  border-radius: 0 0 0 15rem;
  background-color: var(--soft-blue);
}

.header-content-left {
  width: 45%;
  padding: 5rem 0;
}

.header-content-left h1 {
  font-size: 3.5rem;
  font-weight: var(--weight-normal);
  color: var(--dark-blue);
  margin-bottom: 1rem;
  line-height: 3.5rem;
}

.header-content-left p {
  font-size: 1.2rem;
  color: var(--grey-blue);
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.buttons button {
  width: 180px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.4rem;
  font-weight: var(--weight-normal);
  box-shadow: var(--shadow);
}

.buttons .primary {
  background-color: var(--soft-blue);
  color: var(--white);
}

.buttons .primary:hover {
  background-color: var(--white);
  border: 2px solid var(--soft-blue);
  color: var(--soft-blue);
}

.buttons .secondary {
  background-color: var(--grey);
  color: var(--grey-blue);
}

.buttons .secondary:hover {
  background-color: var(--white);
  color: var(--grey-blue);
  border: 2px solid var(--grey-blue);
}

.header-content-right {
  position: relative;
  z-index: 100;
}

.main-content {
  width: 100%;
  height: fit-content;
}

#features {
  width: 100%;
  /* padding: 3rem 8rem; */
}

#features .title {
  font-size: 2.5rem;
  font-weight: var(--weight-normal);
  text-align: center;
  margin-bottom: 2rem;
}

#features .subtitle {
  font-size: 1.2rem;
  padding: 0 32rem;
  font-weight: var(--weight-light);
  text-align: center;
  margin-bottom: 2.5rem;
  line-height: 1.5rem;
  color: var(--grey-blue);
}

.tab-navigation {
  width: 60%;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 4rem;
  position: relative;
}

.tab-items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tab-item {
  list-style: none;
  cursor: pointer;
  width: 30%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-item.active {
  color: var(--soft-red);
}

.tab-item:hover {
  color: var(--soft-red);
}

.line {
  background-color: var(--soft-red);
  height: 5px;
  position: absolute;
  bottom: 0;
  transition: transform 0.25s linear;
}

.features-tab-container {
  width: 100%;
  display: flex;
  width: fit-content;
  height: 70vh;
  position: relative;
}

.features-tab::before {
  position: absolute;
  content: "";
  width: 40.5%;
  height: 350px;
  background-color: var(--soft-blue);
  border-radius: 0 0 10rem 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.features-tab {
  display: none;
}

.features-tab.active {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  padding: 3rem 12rem;
  margin-bottom: 3rem;
}

.features-tab.active:nth-child(2) .features-tab-left img{
  width: 550px;
  height: 450px;
}

.features-tab.active:nth-child(3) .features-tab-left img{
  width: 550px;
  height: 450px;
}

.features-tab-left {
  flex: 1 0;
  position: relative;
  z-index: 100;
}

.features-tab-right {
  flex: 1 0;
}

.features-tab-right h1 {
  font-size: 2.4rem;
  font-weight: var(--weight-normal);
  color: var(--dark-blue);
  margin-bottom: 1.5rem;
}

.features-tab-right p {
  font-size: 1.2rem;
  font-weight: var(--weight-light);
  color: var(--grey-blue);
  margin-bottom: 2rem;
  padding-right: 5rem;
  line-height: 1.8rem;
}

.features-tab-right button {
  font-size: 1rem;
  font-weight: var(--weight-light);
  background-color: var(--soft-blue);
  width: 150px;
  height: 50px;
  border-radius: 0.3rem;
  color: var(--white);
  font-weight: var(--weight-normal);
  border: none;
  outline: none;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.browsers {
  padding: 4rem 8rem 8rem;
}

.browsers .title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: var(--weight-normal);
  color: var(--dark-blue);
}

.browsers .subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: var(--weight-light);
  color: var(--grey-blue);
  padding: 0 23rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.browser-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.browser-card {
  flex: none;
  height: 400px;
  width: 20rem;
  background-color: var(--white);
  box-shadow: var(--card-shadow);
  border-radius: 0.8rem;
  text-align: center;
  padding: 2rem 0;
}

.browser-card:nth-child(2) {
  transform: translateY(1.5rem);
}

.browser-card:nth-child(3) {
  transform: translateY(3rem);
}

.browser-card .browser-icon {
  margin: 2rem 0;
}

.browser-card h2 {
  font-size: 1.5rem;
  color: var(--dark-blue);
  font-weight: var(--weight-normal);
  margin-bottom: 1rem;
}

.browser-card p {
  font-size: 1rem;
  color: var(--grey-blue);
  font-weight: var(--weight-light);
  margin-bottom: 2rem;
}

.browser-card .dotted-line {
  margin-bottom: 1rem;
}

.browser-card button {
  background-color: var(--soft-blue);
  font-size: 1rem;
  color: var(--white);
  font-weight: var(--weight-normal);
  width: 90%;
  height: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

.browser-card button:hover {
  color: var(--soft-blue);
  border: 2px solid var(--soft-blue);
  background-color: var(--white);
}

.browser-card .dotted-line {
  margin-bottom: 1rem;
}

.frequently-asked-questions-wrapper {
  width: 100%;
  text-align: center;
  padding: 4rem 8rem;
}

.frequently-asked-questions-wrapper .title {
  font-size: 2rem;
  font-weight: var(--weight-normal);
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 1.5rem;
}

.frequently-asked-questions-wrapper .subtitle {
  font-size: 1.2rem;
  font-weight: var(--weight-light);
  color: var(--grey-blue);
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 0 23.5rem;
  line-height: 1.5rem;
}

.frequently-asked-questions {
  width: 50%;
  margin: 3rem auto;
}

.question {
  width: 100%;
  border-top: 1px solid var(--grey-shadow);
}

.question:last-child {
  border-top: 1px solid var(--grey-shadow);
  border-bottom: 1px solid var(--grey-shadow);
}

.question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  font-size: 1rem;
}

.question-header:hover p {
  color: var(--soft-red);
}

.question-article {
  display: none;
}

.question.active{
  transition: all .4s linear;
}

.question.active .question-article {
  display: block;
  padding: 0 0.5rem 1rem;
  color: var(--dark-blue);
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: left;
  font-weight: var(--weight-light);
  line-height: 2rem;
}

/* .question.active .arrow{
} */

.more-info {
  background-color: var(--soft-blue);
  width: 120px;
  height: 50px;
  font-size: 1rem;
  font-weight: var(--weight-normal);
  color: white;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-top: 1rem;
}

#contact {
  text-align: center;
  padding: 6rem 8rem;
  background-color: var(--soft-blue);
}

#contact p {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--white);
  font-weight: var(--weight-normal);
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

#contact h2 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: var(--weight-normal);
  margin-bottom: 2rem;
  padding: 0 25rem;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input-group {
  flex: none;
  width: 400px;
  height: 50px;
  position: relative;
}

.contact-form button {
  height: 50px;
  width: 140px;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  color: var(--white);
  font-weight: var(--weight-normal);
  border: none;
  background-color: var(--soft-red);
}

.contact-form button:hover {
  border: 2px solid var(--soft-red);
  color: var(--soft-red);
  background-color: var(--white);
}

.input-group input {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  border: 1px solid var(--grey-blue);
  font-size: 1rem;
  padding: 0 1rem;
  outline: none;
}

.icon-error {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

#footer {
  padding: 2rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-blue);
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer-links li {
  list-style: none;
}

.footer-links li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: var(--weight-light);
  letter-spacing: 0.2rem;
  opacity: 0.9;
}

.footer-links li a:hover {
  color: var(--soft-red);
}

.icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icon{
  cursor: pointer;
  fill: chocolate;
}

svg{
  fill: var(--soft-red);
}